[Unit]
Description=Internet Probe Monitor (Router + Internet)
After=network-online.target
Wants=network-online.target

[Service]
User=partner
WorkingDirectory=/home/partner/raspi-net-probe
ExecStart=/usr/bin/python3 /home/partner/raspi-net-probe/monitor.py
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
